<!DOCTYPE html>
<html>
    <head>
        <title>Tilt-o-meter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body class="container black-bg">
        <div id="header" class="header clear-fix">
            <p class="text-center">
                <a href="http://{{ request.host }}" class="tilt-font">tilt-o-meter</a>
            </p>
        </div><!-- /header -->
        <div id="get-tilt-form">
            <fieldset class="form-group">
                <label id="summoner-label" for="summoner-name">Enter summoner name</label>
                <input id="summoner-text-input" type="text" class="form-control" id="summoner-name" placeholder="xPeke">
                <button id="summoner-input-button" type="button" class="btn-lg btn-warning" role="button" host="http://{{ request.host }}">Measure Tilt!</button>
            </fieldset>
        </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>