.header > p > a {
    font-size: 66pt;
    color: #ff6900;
    text-decoration: none;
    /*-webkit-text-stroke: 1px #ff6900;*/
    /*-webkit-text-fill-color: #fff;*/
}

.black-bg {
    background-color: #333;
}

#get-tilt-form {
  text-align: center;
}

#summoner-label {
    color: #fff;
}

#summoner-input-button {
    background-color: #ff6900;
    /* margin: auto; */
    /* display: block; */
    /* width: 100%; */
    outline: none;
}

#summoner-text-input {
  width: 100%;
  /* margin-left:25%; */
}

#explanation-text {
    color: #fff;
}

#riot-disclaimer{
    color: #aaa;
}

#explanation-text > p > a {
    color: #ff6900;
    font-size: 24pt;
}