@font-face {
  font-family: 'Swiftel';
  src: url('../fonts/Swiftel.woff2') format('woff2'),
       url('../fonts/Swiftel.woff') format('woff'),
       url('../fonts/Swiftel.ttf') format('truetype');
}

body {
    margin: 1rem auto;
    background: none;
    color: #fff;
}

.tilt-font {
    font-family: 'Swiftel';
    color: #ff6900;
    text-decoration: none;
    font-size: 36pt;
}

.tilt-font:hover {
    text-decoration: underline;
}

.container {
  margin: auto;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
/*   width: 50%;
  height: 300px; */
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

.full {
  background: url("../img/fail.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

