.header > p > a {
    font-size: 66pt;
    color: #ff6900;
    text-decoration: none;

}

.black-bg {
    background-color: #333;
}

#get-tilt-form {
  text-align: center;
}

#summoner-label {
    color: #fff;
}

#summoner-input-button {
    background-color: #ff6900;

    outline: none;
}

#summoner-text-input {
  width: 100%;
}

#explanation-text {
    color: #fff;
}

#riot-disclaimer{
    color: #aaa;
}

#explanation-text > p > a {
    color: #ff6900;
    font-size: 24pt;
}