* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'Swiftel';
  src: url('../fonts/Swiftel.woff2') format('woff2'),
       url('../fonts/Swiftel.woff') format('woff'),
       url('../fonts/Swiftel.ttf') format('truetype');
}

html {
  background-color: #666;
  color: #fff;
  font-size: 15pt;
}

p {
    margin: 0.5rem 0;
    line-height: 1.5rem;
}


.text-center {
    text-align: center;
}

.container {
    /* switch to 100% for mobile */
    width: 72%;
    margin: auto;
}

.tilt-font {
    font-family: 'Swiftel';
    color: #ff6900;
    text-decoration: none;
}

.tilt-font:hover {
    text-decoration: underline;
}

/* INDEX */
.header {
    padding: 0.5rem 0;
    width: 100%;
    background-color: #000;
    text-shadow: 2px 0 0 #fff,
             -2px 0 0 #fff,
             0 2px 0 #fff,
             0 -2px 0 #fff,
             1px 1px #fff,
             -1px -1px 0 #fff,
             1px -1px 0 #fff,
             -1px 1px 0 #fff;
}

.header__link {
    font-size: 40pt;
    color: #ff6900;
    text-decoration: none;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.introduction__header {
    width: 100%
}

.introduction__link {
    font-size: 24pt;
    font-weight: 200;
}

.introduction__link--smaller {
    font-size: 18pt;
}

.introduction__link--smaller:hover {
    text-decoration: none;
}

.introduction__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 2rem 0;
}

.introduction__list > li {
    margin: 0.5rem 0;
    width: 100%;
}

.separator {
    margin: 2rem auto;
    width: 72%;
    border: none;
    height: 2px;
    background-color: #eee;
}

.form {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form__fields {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;

}

.form__fields > select {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 12%;
}

.form__fields > input {
    padding: 0.5rem;
    width: 88%;
}

.form__actions {
    width: 100%;
}

.form__submit {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #ff6900;
    color: black;
    margin: auto;
    margin-top: 1rem;
    font-size: 21pt;
    width: 100%;

/*     display: block;
    padding: 0.5rem 1rem;
    background-color: #ff6900;
    color: #ff6900;
    margin: auto;
    margin-top: auto;
    margin-top: 1rem;
    font-size: 21pt;
    width: 100%;
    font-family: 'Swiftel';
    border: none;
    background: transparent;

    text-shadow: 2px 0 0 #fff,
             -2px 0 0 #fff,
             0 2px 0 #fff,
             0 -2px 0 #fff,
             1px 1px #fff,
             -1px -1px 0 #fff,
             1px -1px 0 #fff,
             -1px 1px 0 #fff; */

}

/* TILTOMETER */

.tilt-container {
    margin: 1rem auto;
}

.tilt-container__chart {
    width: 25%;
    min-width: 300px;
    margin: auto;
}

.champion-logo {
    width: 100%;
}

.win-lose-logo {
    width: 50%;
}

.pentakill {
    border: 3px solid red;
}

.data_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: 1rem auto;
}
.data_table thead tr {
    background-color: #555;
    color: #ffffff;
    text-align: left;
}
.data_table th,
.data_table td {
    padding: 0.5rem;
    text-align: center;
}

.data_table tbody tr {
    border-bottom: 1px solid #ddd;
}

.data_table tbody tr:nth-of-type(even) {
    background-color: #555;
}

.data_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.data_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.data_table tbody tr td:nth-of-type(2) {
    font-weight: bold;
}

.kda_1 {
    background-color: rgba(220, 53, 69, 0.5);
}
.kda_2 {
    background-color: rgba(255, 193, 7, 0.5);
}
.kda_3 {
    background-color: rgba(23, 162, 184, 0.5);
}
.kda_4 {
    background-color: rgba(40, 167, 69, 0.5);
}
