* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'Swiftel';
  src: url('../fonts/Swiftel.woff2') format('woff2'),
       url('../fonts/Swiftel.woff') format('woff'),
       url('../fonts/Swiftel.ttf') format('truetype');
}

@font-face {
  font-family: 'AdventPro';
  src: url('../fonts/AdventPro-Regular.ttf') format('truetype');
}

:root {
    --color-patilla: #ff6900;
    --color-bad: rgba(220, 53, 69, 1);
    --color-bad-opaque: rgba(220, 53, 69, 0.5);
    --color-average: rgba(255, 193, 7, 1);
    --color-average-opaque: rgba(255, 193, 7, 0.5);
    --color-good: rgba(23, 162, 184, 1);
    --color-good-opaque: rgba(23, 162, 184, 0.5);
    --color-carried: rgba(40, 167, 69, 1);
    --color-carried-opaque: rgba(40, 167, 69, 0.5);
}

html {
  background-color: #666;
  color: #fff;
  font-size: 15pt;
}

p {
    margin: 0.5rem 0;
    line-height: 1.5rem;
}


.text-center {
    text-align: center;
}

.container {
    /* switch to 100% for mobile */
    width: 72%;
    margin: auto;
}

.tilt-font {
    font-family: 'Swiftel';
    color: var(--color-patilla);
    text-decoration: none;
}

.tilt-font:hover {
    text-decoration: underline;
}

/* INDEX */
.header {
    padding: 0.5rem 0;
    width: 100%;
    background-color: #000;
    text-shadow: 2px 0 0 #fff,
             -2px 0 0 #fff,
             0 2px 0 #fff,
             0 -2px 0 #fff,
             1px 1px #fff,
             -1px -1px 0 #fff,
             1px -1px 0 #fff,
             -1px 1px 0 #fff;
}

.header__link {
    font-size: 40pt;
    color: var(--color-patilla);
    text-decoration: none;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.introduction__header {
    width: 100%
}

.introduction__link {
    font-size: 24pt;
    font-weight: 200;
}

.introduction__link--smaller {
    font-size: 18pt;
}

.introduction__link--smaller:hover {
    text-decoration: none;
}

.introduction__list {
    list-style-type: none;
    margin: 2rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30vw, 1fr));

    width: 100%;
}

.introduction__list > li {
    margin: 0.5rem 0;
}

.introduction__list > li:nth-of-type(odd) {
    text-align: left;
}

.introduction__list > li:nth-of-type(even) {
    text-align: right;
}

.separator {
    margin: 2rem auto;
    width: 72%;
    border: none;
    height: 2px;
    background-color: #eee;
}

.form {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form__fields {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;

}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #666;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.form__fields > select {
  display: block;
  line-height: 3;
  background: var(--color-good);
  overflow: hidden;
  border-radius: .25em;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.form__fields > select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.form__fields > select:hover::after {
  color: #f39c12;
}



.form__fields > input {
    padding: 0.5rem;
    width: 88%;
}

.form__actions {
    width: 100%;
}

.form__submit {
    padding: 0.5rem 1rem;
    background-color: var(--color-patilla);
    color: black;
}

/* TILTOMETER */

.tilt-container {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

.tilt-container__chart {
    max-width: 310px;
}

.tilt-container__tilt {
    font-family: 'AdventPro';
    font-size: 36pt;
    color: var(--color-patilla);
    text-align: center;
    min-width: 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.champion-logo {
    width: 100%;
}

.win-lose-logo {
    width: 50%;
    max-width: 10rem;
}

.pentakill {
    border: 3px solid red;
}

.data_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 72%;
    margin: 1rem auto;
}
.data_table thead tr {
    background-color: #555;
    color: #ffffff;
    text-align: left;
}
.data_table th,
.data_table td {
    padding: 0.5rem;
    text-align: center;
}

.data_table tbody tr {
    border-bottom: 1px solid #ddd;
}

.data_table tbody tr:nth-of-type(even) {
    background-color: #555;
}

.data_table tbody tr td:nth-of-type(2) {
    font-weight: bold;
}

.kda_1 {
    background-color: var(--color-bad-opaque);
}
.kda_2 {
    background-color: var(--color-average-opaque);
}
.kda_3 {
    background-color: var(--color-good-opaque);
}
.kda_4 {
    background-color: var(--color-carried-opaque);
}

.tilt_level > span {
    font-weight: bold;
    display: block;
    font-style: italic;
}

.tilt_level_1 > span {
    color: var(--color-bad);
}
.tilt_level_1 > span::after {
    content: "bad";
}

.tilt_level_2 > span {
    color: var(--color-average);
}
.tilt_level_2 > span::after {
    content: "average";
}

.tilt_level_3 > span {
    color: var(--color-good);
}
.tilt_level_3 > span::after {
    content: "good";
}

.tilt_level_4 > span {
    color: var(--color-carried);
}
.tilt_level_4 > span::after {
    content: "carried";
}

