<!DOCTYPE html>
<html>
    <head>
        <title>Tilt-o-meter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body class="container black-bg">
        <div id="header" class="header clear-fix">
            <p class="text-center">
                <a href="{{ host }}" class="tilt-font">tilt-o-meter</a>
            </p>
        </div><!-- /header -->
        <div id="get-tilt-form">
            <form class="form-inline" onsubmit="return false;">
                <div class="form-group">
                    <select id="area-select" name="area">
                        <option value="br">BR</option>
                        <option value="eune">EUNE</option>
                        <option value="euw" selected="selected">EUW</option>
                        <option value="kr">KR</option>
                        <option value="lan">LAN</option>
                        <option value="las">LAS</option>
                        <option value="na">NA</option>
                        <option value="oce">OCE</option>
                        <option value="ru">RU</option>
                        <option value="tr">TR</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="summoner-text-input">Summoner name</label>
                    <input type="text" class="form-control" id="summoner-text-input" placeholder="Summoner Name">
                </div>
                <button id="summoner-input-button" type="button" class="btn btn-warning" role="button">Calculate Tilt!</button>
            </form>
        </div>
        <hr>
        <div id="explanation-text" class="lead text-center">
            <p>Welcome to the <a href="{{ host }}" class="tilt-font">tilt-o-meter</a> app. </p>
            <p>Want to know your level of <em>tilt</em> when playing LOL? </p>
            <p>Wanna see if your friend is tilted because of a cold streak?</p>
            <p>Can you bring the <a href="{{ host }}" class="tilt-font">tilt-o-meter</a> to zero before than your friends?</p>
            <p>Go for it! Play LOL at your best and see if you can bring the meter to its lowest point!</p>
            <hr>
            <p class="small"><a href="{{ host }}" class="tilt-font">tilt-o-meter</a> is a satirical, personal, project with an arbitrary logarithm. Our goal is to have fun among friends, to try to play at your best each game, and keep the meter as low as possible!</p>
            <p>This site does not provide real information further than the last games results. This application is  purely a satire, a joke, a laugh and a tool to compete with your friends.</p>
            <p id="riot-disclaimer" class="small">
                <small>
                    <em>Tilt-o-meter isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends &copy; Riot Games, Inc.</em>
                </small>
            </p>
        </div>
    </body>
    <script type="text/javascript">
        $HOST = "{{ host }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>