<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Pimpositor Oops page">
        <meta name="keywords" content="tilt-o-meter">
        <meta name="author" content="Patilla Code">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tilt-o-meter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    </head>
    <body class="full">
        <div class="container">
            {% if error %}
               <p>{{error}}</p>
            {% else %}
                <p>Oops</p>
                <p>Something went wrong.</p>
            {% endif %}
            <a href="/" type="button" class="tilt-font">Go back!</a>
        </div>
    </body>
</html>
