{% extends 'base.html' %}

{% block title %}tilt-o-stats | {% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/gsap/minified/gsap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gsap/minified/Draggable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/speedometer.js') }}" async></script>
{% endblock %}

{% block content %}
    <input id="tilt_value" type="hidden" value="{{ data.tilt_level }}">
    <div class="tilt-container__tilt">
        <p><b class="orange">{{ data.summoner_name }}</b> <small>is about</small> <span class="orange">{{ data.tilt_level }}%</span> <small>tilted</small></p>
    </div>
    <section class="speedometer">
        {% include "speedometer.html" %}
    </section>

    <hr class="separator">

    <section class="container">
        <p class="text-center">
            <small>
                <em>Only <b>ranked</b> and <b>normal</b> games are accounted for, no <b>ARAM</b>, no <b>special modes</b>, no <b>bot</b> or <b>custom</b> games</em>
            </small>
        </p>
        <table class="data_table">
            <thead>
                <tr>
                    <th>Champion</th>
                    <th>KDA</th>
                    <th>Time</th>
                    <th>Queue</th>
                    <th colspan="2">Date</th>
                    <th>Performance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in data.stats %}
                    {% if item.pentakill %}
                        <tr class="pentakill" data-tooltip="{{data.summoner_name}} got a Pentakill">
                    {% else%}
                        <tr>
                    {% endif %}
                        <td><img class="champion-logo" src="{{ item.champion_img }}" alt=""></td>
                        {% if item.kda<1 %}
                            <td class="kda_1">{{ item.kills }}/{{ item.deaths }}/{{ item.assists }}</td>
                        {% elif item.kda<2 %}
                            <td class="kda_2">{{ item.kills }}/{{ item.deaths }}/{{ item.assists }}</td>
                        {% elif item.kda<3 %}
                            <td class="kda_3">{{ item.kills }}/{{ item.deaths }}/{{ item.assists }}</td>
                        {% else %}
                            <td class="kda_4">{{ item.kills }}/{{ item.deaths }}/{{ item.assists }}</td>
                        {% endif %}

                        <td>{{ item.time }}</td>
                        <td>{{ item.queue }}</td>

                        <td colspan="2">{{ item.date }}</td>

                        {% if item.kda<1 %}
                            <td class="tilt_level tilt_level_1"><span></span></td>
                        {% elif item.kda<2 %}
                            <td class="tilt_level tilt_level_2"><span></span></td>
                        {% elif item.kda<3 %}
                            <td class="tilt_level tilt_level_3"><span></span></td>
                        {% else %}
                            <td class="tilt_level tilt_level_4"><span></span></td>
                        {% endif %}

                        {% if item.win %}
                            <td><img class="win-lose-logo" src="{{ url_for('static', filename='img/victory.png') }}" alt="victory"></td>
                        {% else %}
                            <td><img class="win-lose-logo" src="{{ url_for('static', filename='img/defeat.png') }}" alt="defeat"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

